<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    {{> styles}}
    <meta charset="UTF-8">
  </head>
  <body>

    <div style="display:flex;justify-content:center;align-items:center;height:100%;">
      <div>
        <h2>{{evaluation.label}}</h2>
        <p>Questions: {{evaluation.evaluationToQuestions.length}}</p>
        <p>Students: {{studentsWithQuestionsAndAnswers.length}}</p>
      </div>
    </div>
    <div style="page-break-after: always;"></div>

    {{#if includeConditionsPage}}
      <h2>Conditions</h2>
      <div>{{formatMarkdown conditions}}</div>
      <div style="page-break-after: always;"></div>
    {{/if}}

    {{#each studentsWithQuestionsAndAnswers}}
      <!-- Add student page with student info and a table with columns Q1,Q2... displaying obtained points / total points -->
      {{> studentCover this}}

      {{#each this.questions}}
        
        {{> studentInfo this.studentAnswer.user }}
        
        {{> questionHeader this}}
        <div>{{formatMarkdown this.question.content}} </div>

        {{#if this.studentAnswer.code}}
          {{> studentAnswerCode this}}
        {{/if}}

        {{#if this.studentAnswer.essay}}
          {{> studentAnswerEssay this}}
        {{/if}}

        {{#if this.studentAnswer.multipleChoice}}
          {{> studentAnswerMultipleChoice this}}
        {{/if}}

        {{#if this.studentAnswer.trueFalse}}
          {{> studentAnswerTrueFalse this}}
        {{/if}}

        {{#if this.studentAnswer.web}}
          {{> studentAnswerWeb this}}
        {{/if}}

        {{#if this.studentAnswer.database}}
          {{> studentAnswerDatabase this}}
        {{/if}}

        {{#if this.studentAnswer.studentGrading}}
          {{> studentAnswerGrading this}}
        {{/if}}
        
        <div style="page-break-after: always;"></div>
      {{/each}}
      
    {{/each}}
  </body>
</html>