<div style="display:flex;flex-direction:column;gap:15px;">
    {{> studentAnswerHeader studentAnswer}}
    <span>Only editable files are shown</span>
    {{#each studentAnswer.code.codeWriting.files}}
      <div>
      {{#if (eq this.studentPermission 'UPDATE')}}
        {{this.file.path}}
        {{formatCode this.file.content}}
      {{/if}}
  
      </div>
    {{/each}}
    <h5>Test Case Results</h5>
    {{#each studentAnswer.code.codeWriting.testCaseResults}}
      <div style="display: flex; flex-direction: column; gap: 5px;">
        <div style="display: flex; align-items: flex-start;">
          <label style="width: 150px;">Exec:</label>
          <span style="flex:1;">{{this.exec}}</span>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: flex-start;">
          <label style="width: 150px;">Input:</label>
          <span style="flex:1;">{{this.input}}</span>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: flex-start;">
          <label style="width: 150px;">Output:</label>
          <span style="flex:1;">{{this.output}}</span>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: flex-start;">
          <label style="width: 150px;">Expected Output:</label>
          <span style="flex:1;">{{this.expectedOutput}}</span>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: flex-start;">
          <label style="width: 150px;">Passed:</label>
          <span style="flex:1;">{{this.passed}}</span>
        </div>
      </div>
    {{/each}}
    <div style="display: flex; justify-content: space-between; align-items: center;">
    {{#if studentAnswer.code.codeWriting.allTestCasesPassed}}
      <label class="success">All Test Cases Passed!</label>
    {{else}}
      <label class="error">Some Test Cases Failed!</label>
    {{/if}}
    </div>
</div>