<div style="display:flex;flex-direction:column;gap:15px;">
  {{> studentAnswerHeader studentAnswer}}
  <div>
    <h5>Queries:</h5>
    <ul style="list-style-type:none;">
    {{#each studentAnswer.database.queries}}
      <li style="margin: 0px 0px 10px 0px;">
        <h6>Q{{this.query.order}} {{this.query.title}}</h6>
        {{> codeBloc this.query.content}}   
      </li>
    {{/each}}
    </ul>
    <h5>Test Queries Status:</h5>
    <ul style="list-style-type:none;">
    {{#each studentAnswer.database.queries}}
    {{#if this.query.testQuery}} 
      <li style="margin: 0px 0px 10px 0px;display:flex;flex-direction:row;gap:5px;">
        <h6>Q{{this.query.order}} {{this.query.title}}</h6>
            
        {{#if this.studentOutput}}
          {{#if (eq this.studentOutput.status "SUCCESS")}}
            <label class="success">Passed</label>
          {{else}}
            <label class="error">Failed</label>
          {{/if}}
        {{else}}
          <span>No output status available</span>
        {{/if}}
        
      </li>
    {{/if}}
    {{/each}}
    </ul>
    <span>Number of Tests Passed: {{countDatabasePassedTests studentAnswer.database.queries}}</span>
  </div>
</div>